.top-bar {
  background-color: #2C318C;
  color: white;
  font-size: 16px;
  padding: 6px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.flag-icon {
  width: 18px;
  height: auto;
}

.middle-bar {
  background-color: #f5f5f5;
  padding: 0; /* remove vertical padding for full height */
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  width: 100%;
  overflow: hidden; /* prevent horizontal scroll */
}

.dept-banner-img {
  width: 100%;       /* full width */
  height: auto;      /* maintain aspect ratio */
  display: block;    /* remove bottom whitespace */
  object-fit: cover; /* cover the container */
}



/* Main White Navbar */
.nav-bar {
  background-color: white;
  padding: 12px 0 12px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 999;
  height: auto;
}

.nav-container {
  max-width: 1396px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 70px;
  width: auto;
  object-fit: contain;
}

/* Navigation links */
.nav-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.nav-links a {
  margin: 0 12px;
  text-decoration: none;
  color: #181818;
  font-weight: 500;
  font-size: 15px;
}

.nav-links a:hover {
  color: #2563eb;
}
